@media (min-width: 768px) {
  .user-info-mobile {
    display: none;
  }
  .user-info-pc {
    z-index: 10;
    width: 750px;
    height: 500px;
    position: absolute;
    margin: -250px 0 0 -375px;
    left: 50%;
    top: 50vh;
    text-align: center;
    padding: 50px 0 0 0;
  }
  .user-info-pc .user-avatar {
    display: inline-block;
    width: 136.98px;
    height: 136.98px;
    text-align: center;
  }
  .user-info-pc .user-avatar img {
    position: absolute;
    z-index: 20;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 3px;
  }
  .user-info-pc .user-avatar .border-top,
  .user-info-pc .user-avatar .border-bottom {
    position: absolute;
    width: 136.5px;
    height: 68px;
    overflow: hidden;
  }
  .user-info-pc .user-avatar .border-top .border-top-inner,
  .user-info-pc .user-avatar .border-bottom .border-top-inner,
  .user-info-pc .user-avatar .border-top .border-bottom-inner,
  .user-info-pc .user-avatar .border-bottom .border-bottom-inner {
    position: absolute;
    width: 136px;
    height: 136px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    -webkit-animation: imgBorder 6s linear;
    animation: imgBorder 6s linear;
  }
  .user-info-pc .user-avatar .border-top .border-top-inner,
  .user-info-pc .user-avatar .border-bottom .border-top-inner {
    clip: rect(0px, 136px, 68px, 0px);
  }
  .user-info-pc .user-avatar .border-top .border-bottom-inner,
  .user-info-pc .user-avatar .border-bottom .border-bottom-inner {
    margin-top: -68px;
    clip: rect(68px, 136px, 136px, 0px);
  }
  .user-info-pc .user-avatar .border-bottom {
    margin-top: 68px;
  }
  .user-info-pc .user-name {
    line-height: 1.5;
    display: inline-block;
    font-size: 80px;
    margin: 0;
    color: #fff;
  }
  .user-info-pc .user-description {
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
    color: rgba(252,252,202,0.7);
    background: rgba(0,0,0,0.3);
  }
  .user-info-pc .user-description i {
    margin: 7.5px;
  }
}
@media (max-width: 767.98px) {
  .user-info-pc {
    display: none;
  }
  .user-info-mobile {
    z-index: 10;
    position: absolute;
    top: calc(100vw / 16 * 9 - 12.5vw);
    left: calc(37.5vw - 2px);
  }
  .user-info-mobile img {
    margin: 0;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    border: 3px solid #fff;
  }
  .user-info-m-name {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: calc(12.5vw + 5px);
    color: #000;
  }
  .user-info-m-description {
    color: #999;
    text-align: center;
  }
  .user-info-m-description a {
    color: #999;
    border: none;
  }
}
.growAndFloat:hover,
.growAndFloat:focus,
.growAndFloat:active {
  -webkit-transform: scale(1.5) translateY(-10px);
  transform: scale(1.5) translateY(-10px);
}
@-moz-keyframes imgBorder {
  0% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes imgBorder {
  0% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes imgBorder {
  0% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes imgBorder {
  0% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
