.made-with-love {
  padding-top: 50px;
  font-weight: 500;
  color: #666;
}
.made-with-love i {
  color: #f00;
  margin: 0 6px;
}
.made-with-love a {
  color: #000;
  border: none;
}
.powered-by-inner {
  display: inline-block;
}
@media (max-width: 767.98px) {
  .main {
    padding-bottom: 200px;
  }
  .footer {
    padding: 0 15vw;
  }
}
@media (min-width: 768px) {
  .footer {
    position: relative;
  }
  .footer-inner {
    margin: 0 auto !important;
    padding: 20px 0;
    background-color: rgba(255,255,255,0.87);
  }
}
