.top-cat {
  position: fixed;
  right: 50px;
  top: -900px;
  z-index: 2018;
  width: 70px;
  height: 900px;
  background: url("/ui/img/scroll.png") no-repeat center;
  background-size: contain;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  border: none !important;
}
.top-cat:hover {
  color: transparent !important;
  border: none !important;
}
